.title {
    text-align: center;
}

.sub-title {
    text-align: center;
    color: gray;
    font-size: medium;
}

.icon {
    border-radius: 50%;
    text-align: center;
    width: 80px;
    height: 80px;
    display: inline-flex;
}

.icon a {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: aliceblue;
    text-align: center;
    position: relative;
    line-height: 80px;
    font-size: medium;
}

.user-badge {
    text-align: center;
    margin: 10px;
}

.user-info-table {
    margin: 10px;
    font-size: medium;
    justify-content: center;
    display: flex;
    text-align: center;
}

.user-info-table tr {
    text-align: left;
}


.user-info-table th {
    text-align: right;
}

.action-list {
    display: flex;
    justify-content: space-around;
}

.action-list a {
    height: 24px;
    width: 24px;
    align-items: center;
    display: inline-flex;
}

mgt-agenda {
    --agenda-header-font-size: 13px;
}
